//Thanks to this article http://devtacular.com/articles/bkonrad/how-to-style-an-application-like-facebook by Bill Konrad for the guidance

body   {
    font-family: "lucida grande",tahoma,verdana,arial,sans-serif;  
}

.navbar   {  
    background-color: #3b5998;
}

.navbar-default .navbar-brand, .navbar-default .navbar-brand:hover   {
    color: #FFF;
}

.navbar-default .nav>li>a, .navbar-default .nav>li>a:hover {
    color: #FFF;
}
   
.well-login  {  
    margin-top: 50px;
}

.container  {
    font-size: 11px;
}

.btn-blue  {
    background-color: #3b5998;
    border-color: #3b5998;
    color: #FFF;
    border-radius: 3px;
}



.post-input   {
    resize: none;
    width: 100%;
    height: 90px;
}

.atr  {
    color: #3b5998;  
    outline-style: none;  
    text-decoration: none;  
    font-size: 11px;  
    font-weight: bold;  
}

button:hover  {
    text-decoration: underline;
    background-color: transparent !important;
}

.btn:visited  {
    color: #FFF;
}

.msg-error   {
    background-color: #f7f7f7;  
    border: 1px solid #cccccc;  
    color: #333333;  
    padding: 10px; 
}

/* Facebook Box Styles */  
.fbgreybox  
{  
    background-color: #f7f7f7;  
    border: 1px solid #cccccc;  
    color: #333333;  
    padding: 10px;  
    font-size: 13px;  
    font-weight: bold;  
}  
.fbbluebox  
{  
    background-color: #eceff6;  
    border: 1px solid #d4dae8;  
    color: #333333;  
    padding: 10px;  
    font-size: 13px;  
    font-weight: bold;  
}  
.fbinfobox  
{  
    background-color: #fff9d7;  
    border: 1px solid #e2c822;  
    color: #333333;  
    padding: 10px;  
    font-size: 13px;  
    font-weight: bold;  
}  
.fberrorbox  
{  
    background-color: #ffebe8;  
    border: 1px solid #dd3c10;  
    color: #333333;  
    padding: 10px;  
    font-size: 13px;  
    font-weight: bold;  
}  

/* Content Divider on White Background */  
.fbcontentdivider  
{  
    margin-top: 15px;  
    margin-bottom: 15px;  
    width: 520px;  
    height: 1px;  
    background-color: #d8dfea;  
}  
